.default-input {
  background: transparent;
  @apply text-gray-400 font-semibold px-2 py-2 border-b-2 border-gray-500 outline-none;
}

.default-text-area {
  @apply bg-white bg-opacity-5 text-gray-200 p-2 border-2 border-gray-500 rounded outline-none;
  max-width: 30vw;
}

@media (max-width: 875px) {

  :root {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c6cdec;
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

.fade-enter-active {
  transition: all 1.5s;
}

.fade-enter {
  opacity: 0;
  transform: translateY(3rem);
}

.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}


.route-enter-active {
  transition: all 0.5s;
}

.route-enter {
  opacity: 0;
  transform: translateY(-1rem);
}

.route-enter-to {
  opacity: 1;
  transform: translateY(0);
}

@mixin boxShadow($x, $y, $spread, $blur, $color) {
  box-shadow: $x $y $spread $blur $color;
  -webkit-box-shadow: $x $y $spread $blur $color;
  -moz-box-shadow: $x $y $spread $blur $color;
  -o-box-shadow: $x $y $spread $blur $color;
}

.blur-page {
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
}
